<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thẻ và bố cục nội dung</title>
</head>
<body>
    <!-- start header -->
    <header>
           <nav> 
               <ul>
                   <li> 
                       <a href="https://www.youtube.com/">Trang chủ</a>
                   </li>
                   <li> 
                       <a href="https://www.youtube.com/">HTML</a>
                   </li>
                   <li>
                       <a href="https://www.youtube.com/"CSS></a>
                   </li>
                   <li>
                       <a href="https://www.youtube.com/">JS</a>
                   </li>
                   <li>
                       <a href="https://www.youtube.com/">C#</a>
                   </li>
               </ul>
           </nav>
    </header>
    <!-- end header -->

    <!-- start body -->
    <section>
        <pre>
            I,Mục tiêu:
                1, Nắm và vận dụng được các phương pháp chia bố cục và nội dung website hợp lí.
                2, sử dụng thành thạo các element thông dụng.
        </pre>
         <div>
              <label for="username">username</label>
              <input type="text" name="username" id="username">
         </div>

    </section>
    <!-- end body -->
    
    <!-- start footer -->
    <footer>

    </footer>
    <!-- end footer -->

</body>
</html>