<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review table & form</title>
</head>
<body>
    <h1>Tổng quan:</h1>
    <pre>
        I, table- bảng
            1, cú pháp-cấu trúc:table> thead-tbody-tfoot

            2, các thuộc tính thường dùng: rowspan, colspan,...

        II, form - biểu mẫu :
            1, cú pháp - cấu trúc:
                form: + method
                      + action
            2, các thẻ nhập liệu:
                input: type(text, number, date, password,...)
                select: option 
                textarea:
                *) lưu ý: + với input thì mặc định type là text 
                          + Các thuộc tính trong input, select, textarea 
                                     -name: quy định vùng lựa chọn
                                     -id, class, attr-custom: xác định element
                                     -value != placeholder và != nội dung của option 
                                     .....
            3, submit và reset form 
                element thường dùng:input/button với type tương ứng => page sẽ bị load lại
                                    button với type="button"        => page sẽ không bị load lại 
    </pre>
    
</body>
</html>