<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <header>
           <h1>Bạn đang xem video</h1>  
                <table border="1">
                     <tr> 
                        <td rowspan="5"> <iframe width="560" height="900" src="https://www.youtube.com/embed/W-r5huUmSxo?si=CrXERKW9WEcxTFwA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></iframe></td>
                        <td ><img src="https://tse2.mm.bing.net/th?id=OIP.CSvID_yXVrgIGrvaEQvrbQHaFj&pid=Api&P=0&h=180" alt=""></td>
                        <td>hihi</td>
                     </tr>
                     <tr>
                         <td><img src="https://tse1.mm.bing.net/th?id=OIP.2LXH-yZmjyASUmwB7FkjzQHaE8&pid=Api&P=0&h=180" alt=""></td>
                         <td>hehe</td>
                     </tr>
                     <tr>
                          <td wigth="150"><img src="https://tse4.mm.bing.net/th?id=OIP.x3RRePIvoRgl48JZWNXVSwHaE7&pid=Api&P=0&h=180" alt=""></td>
                          <td>hoho</td>
                     </tr>
                     <tr>
                        <td><img src="https://tse1.mm.bing.net/th?id=OIP.d9hPQowBM8WR0vJqL9wZIwHaEK&pid=Api&P=0&h=180" alt=""></td>
                        <td>kiki</td>
                     </tr>
                     <tr>
                        <td><img src="https://tse4.mm.bing.net/th?id=OIP.cBJYN7goSfgl0cR7C4hMpwHaEK&pid=Api&P=0&h=180" alt=""></td>
                        <td>huhu</td>
                     </tr>

                </table>
       </header>
</body>
</html>