<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu 1 cấp</title>
    <link rel="stylesheet" href="../Css/home.css">
</head>
<body>
         <header class="thietke">
                <div class="menu">
                      <ul class="option">
                            <li class="nd">
                                <a href="#" class="option1">Home</a>
                            </li>
                            <li class="nd">
                                <a href="#" class="option2">Blog</a>
                            </li>
                            <li class="nd">
                                <a href="#" class="option3">Portfolio</a>
                            </li>
                            <li class="nd">
                                <a href="#" class="option4">Contact us</a>
                            </li>
                      </ul>
                </div>
         </header>

         <footer></footer>
</body>
</html>