<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Css basic</title>
</head>
<body>
        <header></header>
        
        <section>
             <h1>
                  Tổng quát: 
             </h1>
             <pre>
                I,Khái niệm và mục đích
                II,Lợi ích
                   4 lợi ích: tách biệt code 
                              giảm thiểu code 
                              tái sử dụng
                              khai báo dễ dàng
                III, Tổng quan:
                   1, Nắm được cách sử dụng css cơ bản :
                       -Hiểu được css dùng để làm gì(4)
                       -Biết cách tạo và sử dụng css cơ bản (ghu nhớ và phân loại css)
                       -Nắm được cú pháp viết css (cách thức, độ ưu tiên)
             </pre>
        </section>

        <footer></footer>
</body>
</html>