<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/review.css">
</head>
<body>
       <header class="header">
             <nav class="nav">
                <ul class="tieude">
                    
                        <li class="tieude-menu">
                            <a href="#" class="option c-blue">Trang chủ</a>
                               <div class="mega-menu">
                                <ul class="tieude2">
                    
                                    <li class="tieude-menu">
                                        <a href="#" class="option c-blue">Trang chủ</a>
                                    </li>
                                
                                
                                    <li class="tieude-menu">
                                        <a href="#"  class="option">Sản phẩm</a>
                                    </li>
                                
                                
                                    <li class="tieude-menu">
                                        <a href="#" class="option">Dịch vụ</a>
                                    </li>
                                    
                                
                               
                                    <li class="tieude-menu">
                                        <a href="#" class="option">Giới thiệu</a>
                                    </li>
                               
                            
                                    <li class="tieude-menu">
                                        <a href="#"  class="option">Liên hệ</a>
                                    </li>
                                
                            </ul>
                               </div>
                        </li>
                    
                    
                        <li class="tieude-menu">
                            <a href="#"  class="option">Sản phẩm</a>
                            <div class="mega-menu">
                                <ul class="tieude2">
                    
                                    <li class="tieude-menu">
                                        <a href="#" class="option c-blue">Trang chủ</a>
                                    </li>
                                
                                
                                    <li class="tieude-menu">
                                        <a href="#"  class="option">Sản phẩm</a>
                                    </li>
                                
                                
                                    <li class="tieude-menu">
                                        <a href="#" class="option">Dịch vụ</a>
                                    </li>
                                    
                                
                               
                                    <li class="tieude-menu">
                                        <a href="#" class="option">Giới thiệu</a>
                                    </li>
                               
                            
                                    <li class="tieude-menu">
                                        <a href="#"  class="option">Liên hệ</a>
                                    </li>
                                
                            </ul>
                               </div>
                        </li>
                    
                    
                        <li class="tieude-menu">
                            <a href="#" class="option">Dịch vụ</a>
                        </li>
                        
                    
                   
                        <li class="tieude-menu">
                            <a href="#" class="option">Giới thiệu</a>
                        </li>
                   
                
                        <li class="tieude-menu">
                            <a href="#"  class="option">Liên hệ</a>
                        </li>
                    
                </ul>
             </nav>
       </header>

       

       <footer></footer>
</body>
</html>