<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javascript</title>
</head>
<body>
        <header></header>

        <section>
              <h1>các khái niệm cơ bản</h1>
              I, Định nghĩa
              II, Mục đích
              III, Quy tắc 
                 - Phân biệt hoa thường: a != A

              IV, Khai báo và sử dụng
                 - 3 cách sử dụng

              V, Nội dụng:
              1, Biến
        </section>

        <footer></footer>
        
        <script src="../Js/home.js"></script>
        <!-- <script>
             alert("devmaster");
        </script> -->
</body>
</html>