<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review html & css</title>
</head>
<body>
       <header></header>

       <section>
          <h1>Tổng quát HTML <h1>      

            <pre>
                A,HTML 
                      1, Cấu trúc file, cấu trúc page 
                      2, Cú pháp một số element
                      3, Vận dụng các element bố cục-nội dung => phân chia bố cục cho phù hợp
                B,Css 
                      1, Khởi tạo và khai báo sử dụng
                      2, Cú pháp: selector {thuộc tính : value}
                      3, Thứ tự ưu tiên trong css: 
                      4, Animation & responsive
                          -Cú pháp khai báo-sử dụng
                          -Ý nghĩa/mục đích
                          -Phạm vi sử dụng: 

                C,Javascript: ngôn ngữ lập trình
                      1, các khái niệm logic cơ bản: 
                         - biến, kiểu dữ liệu, toán tử, cấu trúc đặc thù
                         - mảng, hàm, đối tượng
                      2, Vận dụng javascript:
                      3, Các ưng sdụng js trên client: cache. 

            </pre>
       </section>

       <footer></footer>

</body>
</html>