<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <header></header>
       <section clas="1">
       <div class="tongquat" style="background-color: aliceblue; width: 350px; padding: 50px; margin-top: 55px; margin-left: 508px;">
        <div class="photo">
            <img src="https://tse4.mm.bing.net/th?id=OIP.bRsyEYyQUogaG8oczgcxJAHaEo&pid=Api&P=0&h=180" alt="" style="width: 400px; margin-left: -50px;">
        
         </div>
         <div class="tieude" style="margin-left: 10px;">
            <h1 >Tổng quan ngành khoa học máy tính</h1>
         </div>
         <div class="thoigian" style="margin-left: 8px;"> 
            <p>04/11/2021</p>
         </div>
         <div class="noi dung" style="margin-left: -48px;">
             Lorem ipsum dolor sit amet consectetur adipisicing. Aliror incidunt iure cumque a nulla, architecto, consequuntur quidem quibusdam. Architecto aliquid culpa expedita distinctio perferendis enim, <a href="https://tse1.mm.bing.net/th?id=OIP.RwrRGpXkdMkuLstHb1NuigHaFj&pid=Api&P=0&h=180">maiores ipsum!</a>
             
         </div>
       </div>
       </section>
</body>
</html>
