<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header class="demo header test devmaster-ac" id="test" align="center">
        <h1>Tạo form login</h1>
    </header >
    
    

    <section id="test2">
         <div class="form-login" style="background-color: #ccc; width: 185px; padding: 30px; margin-top: 100px; margin-left: 647px;">
             <div class="logo-login">
                  <div class="img-logo">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.Kx4kLE_Js1LHBcBaUNNXGAHaHa&pid=Api&P=0&h=180" alt="logo" style="border-radius: 50%;">
                  </div>
             </div>
             <div class="content-form">
                    <form class="form">
                        <div class="form-input">
                             <div class="input-email">
                                <input type="email" name="email" placeholder="Email" id="email"
                                style="padding: 3px;
                                width: 172px;
                                border: 1px solid red;">
                             </div>
                             <div class="input-password">
                                <input type="password" name="password" placeholder="Mật khấu" id="password" style="width: 172px;">
                             </div>
                        </div>
                        <div class="form-button">
                             <button type="button" style="margin-top: 5px; width: 180px; text-align: center; padding: 5px 0 5px 0; background: blue; color: #ffffff; border-radius: 3px;">Đăng nhập</button>
                             
                        </div>
                        <div class="form-help">
                            <a href="#" style="text-decoration: none;">Bạn cần trợ giúp?</a>
                        </div>
                    </form>
             </div>
         </div>
    </section>

    <footer>

    </footer>
</body>
</html>