<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review html lesson4</title>
</head>
<body>
    <header></header>

    <section>
    <div>
      <pre>
          I, Cấu trúc của 1 file html 
              - head 
              - body 
          II, table & form: cú phấpp và & ứng dụng
              1, table
                  - cú pháp : table > thead/tbody/tfoot > tr > th/td > element
                  - các thuộc tính ứng dụng => xây dựng lên table 
                      + gom cột, gôm ô, tạo viền, tạo khoảng cách
              2, form 
                  - cú pháp : form> element (...)
                  - một số thuộc tính tiêu biểu trong form: action, method,...
          III, phân chia bố cục và nội dung
               *) cấu trúc của 1 thân website thông thường: header, section, footer 
               header : thường sẽ là chứa các lựa chọn điều hướng=> sử dụng kết hợp với nav (layout)
               section: kết hợp tất cả các element
               footer : thường là các thông tin ghi chú...(layout)

               *) vận dụng phân chia bố cục cho từng thành phần hợp lí
      </pre>
    </div>
        </section> 

         <footer></footer>
  
</body>
</html>