header{
    height: 150px;
    width: 1000px;
    text-align: center;
    border: 1px solid #ccc; 
}

div.nav{
    height: 20px;
    width: 1000px;
    text-align: center;
    border: 1px solid #ccc; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.body{
    height: 300px;
    display: flex;
    width: 1000px;
    margin-top: 10px;

}
.left, .center, .right{
    border: 1px solid #ccc;
    text-align: center;
}
.left, .right{
    width: 20%;
}
.center{
    width: 60%;
}

footer{
    height: 100px;
    width: 1000px;
    text-align: center;
    border: 1px solid #ccc; 
}