<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="../CSS/homework.css">
</head>
<body>
        <header class="menu-cap-1">
               <nav class="test-option">
                    <div class="logo">
                         <img src="https://4.bp.blogspot.com/-tVEXcnjokTc/Uc-O2b0RhAI/AAAAAAAAAEc/Frj7rrOMIno/s1600/logo+barcelona.png" alt="">
                    </div>
                        <ul class="test-1">
                            <li class="option">
                                <a href="#" class="choose">Lorem</a>
                                <div class="mega-menu">
                                    <ul class="test-2">
                                        <li class="option">
                                            <a href="#" class="choose">Lorem</a>
                                            <div class="mega-mega-menu">
                                                
                                                    <ul class="test-4">
                                                        <li class="option">
                                                            <a href="#" class="choose">Lorem</a>
                                                            <div class="mega-mega-menu-2">
                                                
                                                                <ul class="test-5">
                                                                    <li class="option">
                                                                        <a href="#" class="choose">Lorem</a>
                                                                    </li>
                                                                    <li class="option">
                                                                        <a href="#" class="choose">Repellendus</a>
                                                                    </li>
                                                                    <li class="option">
                                                                        <a href="#" class="choose">Voluptate</a>
                                                                    </li>
                                                                    <li class="option">
                                                                        <a href="#" class="choose">Laborum</a>
                                                                            
                                                                    </li>
                                                                    <li class="option">
                                                                        <a href="#" class="choose">Tempore</a>
                                                                    </li>
                                                                    <li class="option">
                                                                        <a href="#" class="choose">Omnis</a>
                                                                    </li>
                                                                    <li class="option">
                                                                        <a href="#" class="choose">Sint</a>
                                                                    </li>
                                                                </ul>
                                                            
                                                        </div>
                                                        </li>
                                                        <li class="option">
                                                            <a href="#" class="choose">Repellendus</a>
                                                        </li>
                                                        <li class="option">
                                                            <a href="#" class="choose">Voluptate</a>
                                                        </li>
                                                        <li class="option">
                                                            <a href="#" class="choose">Laborum</a>
                                                                
                                                        </li>
                                                        <li class="option">
                                                            <a href="#" class="choose">Tempore</a>
                                                        </li>
                                                        <li class="option">
                                                            <a href="#" class="choose">Omnis</a>
                                                        </li>
                                                        <li class="option">
                                                            <a href="#" class="choose">Sint</a>
                                                        </li>
                                                    </ul>
                                                
                                            </div>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Repellendus</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Voluptate</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Laborum</a>
                                                
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Tempore</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Omnis</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Sint</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="option">
                                <a href="#" class="choose">Repellendus</a>
                                <div class="mega-menu-2">
                                    <ul class="test-3">
                                        <li class="option">
                                            <a href="#" class="choose">Lorem</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Repellendus</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Voluptate</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Laborum</a>
                                                
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Tempore</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Omnis</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="choose">Sint</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="option">
                                <a href="#" class="choose">Voluptate</a>
                            </li>
                            <li class="option">
                                <a href="#" class="choose">Laborum</a>
                                    
                            </li>
                            <li class="option">
                                <a href="#" class="choose">Tempore</a>
                            </li>
                            <li class="option">
                                <a href="#" class="choose">Omnis</a>
                            </li>
                            <li class="option">
                                <a href="#" class="choose">Sint</a>
                            </li>
                        </ul>
                   
               </nav>
        </header>
        <section class="football">
             <div class="banner">
                <img src="https://wallpapercave.com/wp/wp4867272.jpg" alt="">
             </div>
             <nav class="giay">
                  <div class="mau-1">
                         <div class="mer13-pro">
                              <img src="https://tse2.mm.bing.net/th?id=OIP.DaN-zN_blgWV065r7vEx0gHaHa&pid=Api&P=0&h=180" class="pro-13" alt="">
                         </div>
                         <div class="gia-1">
                             <b>2.000.000đ</b>
                         </div>
                  </div>
                  <div class="mau-2">
                          <div class="mer14-pro">
                             <img src="https://tse1.mm.bing.net/th?id=OIP.pwOeXyK2UpD3QnIxVb9hGAHaHa&pid=Api&P=0&h=180" class="pro-14" alt="">
                          </div>
                          <div class="gia-2">
                            <b>2.500.000đ</b>
                        </div>
                  </div>
                  <div class="mau-3">
                          <div mer15-pro>
                              <img src="https://tse1.mm.bing.net/th?id=OIP.zm_kE0HThh90V0f6RrFaCwHaE8&pid=Api&P=0&h=180" class="pro-15" alt="">
                          </div>
                          <div class="gia-3">
                            <b>2.700.000đ</b>
                        </div>
                  </div>
                  <div class="mau-4">
                          <div mer14-aca>
                            <img src="https://thumblr.uniid.it/product/226446/a94c6879368c.jpg" class="aca-14" alt="">
                          </div>
                          <div class="gia-4">
                            <b>2.000.000đ</b>
                        </div>
                  </div>
             </nav>
        </section>
</body>
</html>