<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mega menu</title>
    <link rel="stylesheet" href="../CSS/menu.css">
</head>
<body>
       <header>
             <nav class="d-flex">
                <div class="logo">
                       <img src="https://devmaster.edu.vn/images/logo.png" alt="">
                </div>
                   <ul class="menu-cap-1">
                         <li class="option">
                              <a href="#" class="link">Home</a>
                         </li>
                         <li class="option"> 
                              <a href="#" class="link">Contact</a>
                         </li>
                         <li class="option">
                              <a href="#" class="link">Product</a>
                              <div class="menu-cap-2">
                                <ul class="list-option-2">
                                    <li class="option">
                                         <a href="#" class="link">FE</a>
                                            <div class="menu-cap-3">
                                                    <ul class="option3">
                                                        <li class="option">
                                                              <a href="#" class="link">HTML</a>
                                                        </li>
                                                        <li class="option">
                                                            <a href="#" class="link">CSS</a>
                                                        </li>
                                                        <li class="option">
                                                            <a href="#" class="link">JS</a>
                                                        </li>
                                                    </ul>
                                            </div>
                                    </li>
                                    <li class="option"> 
                                         <a href="#" class="link">BE</a>
                                    </li>
                                    
                              </ul>
                              </div>
                         </li>
                         <li class="option">
                              <a href="#" class="link">News</a>
                         </li>
                   </ul>
             </nav>
       </header>

       <section class="page-content">
            <div class="banner">
                 <img src="https://devmaster.edu.vn/uploads/images/devmaster-campaign/devmaster-lap-trinh-vien-website-php-va-mysql-chuyen-nghiep.png" alt="">
            </div>
            <nav class="website">
                <div class="dongho">
        
                    <div class="clock">
                          <div class="edit" style="width: 400px;">
                                 <div class="clock" style="margin-top: 50px; margin-left: 50px;">
                                          <img src="https://henry-london.vn/wp-content/uploads/2019/03/dong-ho-day-da-chinh-hang5.jpg" alt="" style="width: 100%;">
                                 </div>
                                 <div class="madeby" style="margin-top: 84px; margin-left: 139px; ">
                                          <p>HENRY LONDON</p>
                                 </div>
                                 <div class="kind" style="margin-top: -11px; margin-left: 175px;">
                                          <h1>Quarzt</h1>
                                 </div>
                                 <div class="price" style="margin-top: -4px; margin-left: 135px; ">
                                      <p> 
                                            <b>2.184.000 <sup>&#8363;</sup> </b> 
                                            <del>2.299.000 <sup>&#8363;</sup> </del>
                                      </p>
                                       
                                 </div>
                          </div>
                    </div>
            
            
                <div class="clock" >
                      <div class="edit" style="width: 400px;">
                             <div class="clock" style="margin-top: 50px; margin-left: 50px;">
                                      <img src="https://henry-london.vn/wp-content/uploads/2019/03/dong-ho-day-da-chinh-hang5.jpg" alt="" style="width: 100%;">
                             </div>
                             <div class="madeby" style="margin-top: 84px; margin-left: 150px; ">
                                      <p>HENRY LONDON</p>
                             </div>
                             <div class="kind" style="margin-top: -11px; margin-left: 175px;">
                                      <h1>Quarzt</h1>
                             </div>
                             <div class="price" style="margin-top: -4px; margin-left: 135px; ">
                                  <p> 
                                        <b>2.184.000 <sup>&#8363;</sup> </b> 
                                        <del>2.299.000 <sup>&#8363;</sup> </del>
                                  </p>
                                   
                             </div>
                      </div>
                </div>
            
                
                <div class="clock" >
                      <div class="edit" style="width: 400px;">
                             <div class="clock" style="margin-top: 50px; margin-left: 50px;">
                                      <img src="https://henry-london.vn/wp-content/uploads/2019/03/dong-ho-day-da-chinh-hang5.jpg" alt="" style="width: 100%;">
                             </div>
                             <div class="madeby" style="margin-top: 84px; margin-left: 150px; ">
                                      <p>HENRY LONDON</p>
                             </div>
                             <div class="kind" style="margin-top: -11px; margin-left: 175px;">
                                      <h1>Quarzt</h1>
                             </div>
                             <div class="price" style="margin-top: -4px; margin-left: 135px; ">
                                  <p> 
                                        <b>2.184.000 <sup>&#8363;</sup> </b> 
                                        <del>2.299.000 <sup>&#8363;</sup> </del>
                                  </p>
                                   
                             </div>
                      </div>
                </div>
            
                <div class="clock" >
                      <div class="edit" style="width: 400px;">
                             <div class="clock" style="margin-top: 50px; margin-left: 50px;">
                                      <img src="https://henry-london.vn/wp-content/uploads/2019/03/dong-ho-day-da-chinh-hang5.jpg" alt="" style="width: 100%;">
                             </div>
                             <div class="madeby" style="margin-top: 84px; margin-left: 150px; ">
                                      <p>HENRY LONDON</p>
                             </div>
                             <div class="kind" style="margin-top: -11px; margin-left: 175px;">
                                      <h1>Quarzt</h1>
                             </div>
                             <div class="price" style="margin-top: -4px; margin-left: 135px; ">
                                  <p> 
                                        <b>2.184.000 <sup>&#8363;</sup> </b> 
                                        <del>2.299.000 <sup>&#8363;</sup> </del>
                                  </p>
                                   
                             </div>
                      </div>
                </div>
            
               
    
               <div class="clock">
                <div class="edit" style="width: 400px;">
                       <div class="clock" style="margin-top: 50px; margin-left: 50px;">
                                <img src="https://henry-london.vn/wp-content/uploads/2019/03/dong-ho-day-da-chinh-hang5.jpg" alt="" style="width: 100%;">
                       </div>
                       <div class="madeby" style="margin-top: 84px; margin-left: 139px; ">
                                <p>HENRY LONDON</p>
                       </div>
                       <div class="kind" style="margin-top: -11px; margin-left: 175px;">
                                <h1>Quarzt</h1>
                       </div>
                       <div class="price" style="margin-top: -4px; margin-left: 135px; ">
                            <p> 
                                  <b>2.184.000 <sup>&#8363;</sup> </b> 
                                  <del>2.299.000 <sup>&#8363;</sup> </del>
                            </p>
                             
                       </div>
                </div>
          </div>
    
          <div class="clock">
            <div class="edit" style="width: 400px;">
                   <div class="clock" style="margin-top: 50px; margin-left: 50px;">
                            <img src="https://henry-london.vn/wp-content/uploads/2019/03/dong-ho-day-da-chinh-hang5.jpg" alt="" style="width: 100%;">
                   </div>
                   <div class="madeby" style="margin-top: 84px; margin-left: 139px; ">
                            <p>HENRY LONDON</p>
                   </div>
                   <div class="kind" style="margin-top: -11px; margin-left: 175px;">
                            <h1>Quarzt</h1>
                   </div>
                   <div class="price" style="margin-top: -4px; margin-left: 135px; ">
                        <p> 
                              <b>2.184.000 <sup>&#8363;</sup> </b> 
                              <del>2.299.000 <sup>&#8363;</sup> </del>
                        </p>
                         
                   </div>
            </div>
      </div>
      </div>
              </nav>
       </section>
</body>
</html>