<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table và form</title>
</head>
<body>
    <h1>table:</h1>
    <pre>
         I, Mục tiêu:
               - Cấu trúc của 1 table;
               - Biết cách tạo và triển khai table theo thiết kế.
               +, Biết cách sử dngj cấc  thuộc tính tác động tới viền, khoảng cách, hàng, cột.
    </pre>
    <hr>

    <table border="1">
              <thead>
                  <!-- biểu diễn các tiêu đcho nội dung của table -->
                  <tr>
                      <th>
                         dev_head_1_1
                      </th>
                      <th>
                        dev_head_1_2
                      </th>
                  
                  
                    <th>
                        dev_head_1_3
                    </th>
                   </tr>
              </thead>

              <tbody>
                  <!-- biểu diễn các nội dung của table -->
                  <tr>
                      <td  colspan="3" rowspan="2">
                        dev_body_1_2
                      </td>
                      <td>
                        dev_body_1_2
                      </td>
                      <td rowspan="2">
                        dev_body_1_3
                      </td>
                  </tr>
                  <tr>
                       <td>
                        dev_body2_1
                       </td>
                       <td>
                        dev_body_2-2
                       </td>
                       <td>
                        dev_body_2_3
                       </td>
                  </tr>
              </tbody>
              
              <tfoot>
                  <!-- biểu diễn nội dung chú thích của table -->
                  <tr>

                  </tr>
              </tfoot>
    </table>

    <h2>ứng dụng cách thuộc tính trong table</h2>

    <table border="2">
           <caption>Tiêu đề bảng</caption>
              <thead>
                   <tr>
                      <th>cột 1</th>
                      <th>cột 2</th>
                      <th>cột 3</th>
                      <th>cột 4</th>
                      <th>cột 5</th>
                      <th>cột 6</th>
                   </tr>
              </thead>
              <tbody>
                     <tr>
                       <td colspan="2">nội dung 2.1</td>
                        <td>nội dung 2.2</td> 
                        <td>nội dung 2.3</td>
                        <td>nội dung 2.4</td>
                        <td>nội dung 2.5</td>
                        <td>nội dung 2.6</td>
                     </tr>
                     <tr>
                        <td>nội dung 3.1</td>
                        <td>nội dung 3.2</td> 
                        <td>nội dung 3.3</td>
                        <td>nội dung 3.4</td>
                        <td>nội dung 3.5</td>
                        <td>nội dung 3.6</td>
                     </tr>
              </tbody>
              <tfoot>
                    <tr>
                        <td rowspan="2">nội dung 5</td>
                        <td>nội dung 6</td>
                    </tr>
              </tfoot>
    </table>
    <table border="2" cellpadding="20" cellspacing="5">
         <thead>
            <tr>
                <th rowspan="2">stt</th>
                <th rowspan="2">họ tên</th>
                <th rowspan="2">ngày sinh</th>
                <th colspan="3">điểm</th>
            </tr>
            <tr>
                <th>toán</th>
                <th>văn</th>
                <th>anh</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td>1</td>
                <td>devmaster</td>
                <td>24/08/2023</td>
                <td>10</td>
                <td>10</td>
                 <td>9.8</td>       
            </tr>
         </tbody>
    </table>
    <table border="2" cellpading="10" cellspacing="5">
        <tbody>
            <caption>Thông tin chi tiết</caption>
            <tr>
                <td rowspan="4"><img src="https://tse2.mm.bing.net/th?id=OIP.0wT9G5DuJo_YqBuxbRowPgHaHa&pid=Api&P=0&h=180" alt=""></td>
                <td colspan="4">Ngày sinh:24/06/1989</td>
            </tr>
            <tr align="center">
                <td colspan="3">Điểm thi</td>
                <td rowspan="2">Điểm TB </td>
            </tr>
            <tr>
                <td style="color: blue;">Toán </td>
                <td>Văn</td>
                <td>Anh</td>
            </tr>
            <tr>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
    <table ></table>
</body>
</html>