<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <header></header>

     <section>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="username">
        </div>
        <div>
             <label for="pass">Pass  </label>
             <input type="password" name="pass" id="pass" class="pass">
             
        </div>
        <div>
            <button type="button" onclick="searchName()">Đăng nhập</button>
        </div>
     </section>

     <footer></footer>

     <script src="../Js/homework.js"></script>
</body>
</html>